/* Reset */
body {
  margin: 0;
  padding: 0;
  padding-top: 60px; /* Should match the header height */
  font-family: Garamond, san-serif;
  font-weight: 300; /* Set to normal (400) */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff; /* Or any color you prefer */
  display: flex;
  justify-content: center; /* Center the nav horizontally */
  align-items: center; /* Center the nav vertically */
  height: 60px; /* Adjust this value as needed */
}

nav {
  width: 100%;
  max-width: 1200px; /* Adjust this value based on your design */
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px; /* Adjust spacing between nav items */
}

.nav-links a {
  text-decoration: none;
  color: #333; /* Adjust color as needed */
}


.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  min-height: 90vh;
  overflow: hidden;
}

.intro-container::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 10%;
  background-image: url('images/background.png');/* https://www.artificialintelligence-news.com/news/research-ai-human-brains-subconscious/  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1); /* White overlay with 30% opacity */
  background-blend-mode: overlay; /* Blends background image with white */
  z-index: -1;
}

.intro, .photo {
  flex: 1;
  position: relative;
  z-index: 2;
}

.intro {
  padding-right: 80px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.intro h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.intro h2 {
  font-size: 30px;
  margin: 5px 0;
  color: #4c6d7c;  /* #4c6d7c bismarck  #6796a4 shore water #44efff shimmering cyan #2c7992(turkish stone) #008080 current teal, #008794    #4DB6B3(old) #30BA8F #00008b (dark blue) #A020F0 purple #0F5289*/

}
.intro p {
  font-size: 18px;
  margin: 5px 0;
  color: #333;

}

.contact-info p {
  font-size: 14px;
  color: #333;

}

.social-icons {
  margin-top: 15px;
  color: #333;
}

.social-icons a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  
  color: #333;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #4c6d7c;
}


.about {
  padding-top: 60px;
  margin-bottom: 30px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left; /* Ensure text is left-aligned */
}

.about .container {
  max-width: 800px;
  margin: 0 auto; /* Center the container */
}

.about h3 {
  font-size: 2.2em;
  font-weight: bold;
  color: #333;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center; /* Center the heading */
}

.about p {
  font-size: 1.1em;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #444;
}

.about .btn {
  display: block; /* Keeps the button inline */
  padding: 12px 24px;
  background-color: #4c6d7c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
  
   /* Centering styles */
   margin-top: 20px; /* Space above the button */
   margin-left: auto; /* Auto margins for centering */
   margin-right: auto; /* Auto margins for centering */
   text-align: center; /* Center text inside the button */
   max-width: 200px;
}

.about .btn:hover {
  background-color: #3a5561;
}



.skills {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.skills h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.skill-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-skill-btn {
  font-size: 1.2em;
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #4c6d7c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sub-categories {
  width: 100%;
}

.sub-category {
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  color: #333;
}

.skill-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill-buttons span {
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 0.9em;
  color: #333;
  display: inline-block;
  background-color: #e0e0e0;
}

/* Assign consistent colors per category */
.skill-programming .sub-category { background-color: #FFD1DC; border: 1px solid #FFB6C1; }
.skill-database .sub-category { background-color: #BDFCC9; border: 1px solid #98FB98; }
.skill-ml-algorithms .sub-category { background-color: #B0E0E6; border: 1px solid #87CEEB; }
.skill-ml-frameworks .sub-category { background-color: #FFF5E1; border: 1px solid #FFDAB9; }
.skill-ml-tools .sub-category { background-color: #E6E6FA; border: 1px solid #D8BFD8; }
.skill-cloud .sub-category { background-color: #FFDAB9; border: 1px solid #FFA07A; }
.skill-softskills .sub-category { background-color: #98FB98; border: 1px solid #32CD32; }

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }
  
  .skill-column {
    width: 100%;
  }
}

.Publications {
  margin-bottom: 30px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.Publications .container {
  padding-left: 20px;
  padding-right: 20px;
}

.Publications h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-top: 0;
  margin-bottom: 5px;
}

.publication {
  margin-bottom: 10px;
}

.publication-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #4c6d7c;
  margin-bottom: 5px;
}

.publication-journal {
  font-size: 0.9em;
  font-style: italic;
  color: #666;
  margin-bottom: 1px;
}

.publication p {
  margin: 1px 0; /* Adjusted for general paragraphs */
}

.publication p:last-child {
  margin-bottom: 0; /* Remove bottom margin for the last paragraph (which contains the button) */
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4c6d7c;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 0.9em;
}

.btn:hover {
  background-color: #0056b3;
}


.btn-small {
  font-size: 0.5em; /* Adjust button size */
}







.experience {
  background-color: #f9f9f9;
  padding: 50px 20px;
  font-family: 'Garamond', serif;
}

.timeline {
  position: relative;
  max-width: 800px; /* Adjust width as needed */
  margin: 0 auto;
  padding: 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  left: 20px; /* Adjust based on your design */
  z-index: 1;
}

.timeline-item {
  position: relative;
  width: 100%;
  padding-left: 50px; /* Space for the circle */
  margin-bottom: 20px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #4c6d7c; /* Circle border color */
  border-radius: 50%;
  left: 10px; /* Position on the timeline line */
  top: 0;
  z-index: 2;
}

.timeline-content {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content h4 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.timeline-content p {
  margin: 0;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .timeline {
    padding: 10px;
  }
  
  .timeline::before {
    left: 10px;
  }
  
  .timeline-item {
    padding-left: 40px;
  }
  
  .timeline-item::before {
    left: 0;
  }
}

.work-projects {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.work-projects .container {
  padding-left: 20px;
  padding-right: 20px;
}




.work-projectss h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-top: 10;
  margin-bottom: 5px; /* Changed from 15px to 5px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.Personal-Life {
  padding-top: 60px;
  margin-bottom: 30px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
}

.Personal-Life .container {
  max-width: 1200px; /* Ensured container is wide enough */
  margin: 0 auto;
}

.Personal-Life h3 {
  font-size: 2.2em;
  font-weight: bold;
  color: #333;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.Personal-Life h4 {
  font-size: 2.2em;
  font-weight: bold;
  color: #333;
  
  text-align: center;
}

.Personal-Life p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #444;
  text-align: justify;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust gap as necessary */
  margin-top: 40px;
  flex-wrap: wrap; /* Allow images to wrap if needed */
  align-items: center;
}

.image-item {
  width: 22%; /* Set width to 22% for 4 images in a row */
  text-align: center;
  flex: 0 1 auto; /* Don't allow images to grow/shrink */
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-item h3 {
  margin-top: 18px;
  font-size: 10px;
  color: #333;
  text-align: center;
}