/* Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Garamond, san-serif;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  
  color: #333;

}

.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  min-height: 90vh;
  overflow: hidden;
}

.intro-container::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0;
  background-image: url('images/brain_16.png');/* https://www.artificialintelligence-news.com/news/research-ai-human-brains-subconscious/  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1); /* White overlay with 30% opacity */
  background-blend-mode: overlay; /* Blends background image with white */
  z-index: -1;
}

.intro, .photo {
  flex: 1;
  position: relative;
  z-index: 2;
}

.intro {
  padding-right: 80px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.intro h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.intro h2 {
  font-size: 30px;
  margin: 5px 0;
  color: #4c6d7c;  /* #4c6d7c bismarck  #6796a4 shore water #44efff shimmering cyan #2c7992(turkish stone) #008080 current teal, #008794    #4DB6B3(old) #30BA8F #00008b (dark blue) #A020F0 purple #0F5289*/

}
.intro p {
  font-size: 18px;
  margin: 5px 0;
  color: #333;

}

.contact-info p {
  font-size: 14px;
  color: #333;

}

.social-icons {
  margin-top: 15px;
  color: #333;
}

.social-icons a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  
  color: #333;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #4c6d7c;
}

.about {
  background: #fff;
  padding: 50px 20px;
  text-align: center;
}

.about .skills span {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  color: #4c6d7c;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #4c6d7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #4c6d7c;
}


.Publications {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.Publications-title {
  font-size: 1.5em; /* Larger font size for title */
  font-weight: bold;
  color: #333;
  margin-bottom: 2px;
}

.Publications-journal {
  font-size: 0.9em; /* Smaller font size for journal name */
  font-style: italic;
  color: #666; /* Lighter color for journal */
}

.Publications p {
  margin: 2px 0; /* Adjust spacing between paragraphs */
}

.btn-small {
  font-size: 0.9em; /* Adjust button size */
}

.experience {
  background-color: #f9f9f9;
  padding: 50px 20px;
  font-family: 'Garamond', serif;
}

.timeline {
  position: relative;
  max-width: 800px; /* Adjust width as needed */
  margin: 0 auto;
  padding: 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  left: 20px; /* Adjust based on your design */
  z-index: 1;
}

.timeline-item {
  position: relative;
  width: 100%;
  padding-left: 50px; /* Space for the circle */
  margin-bottom: 20px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #007bff; /* Circle border color */
  border-radius: 50%;
  left: 10px; /* Position on the timeline line */
  top: 0;
  z-index: 2;
}

.timeline-content {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content h4 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.timeline-content p {
  margin: 0;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .timeline {
    padding: 10px;
  }
  
  .timeline::before {
    left: 10px;
  }
  
  .timeline-item {
    padding-left: 40px;
  }
  
  .timeline-item::before {
    left: 0;
  }
}
