/* Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Garamond, serif;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.intro-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  min-height: 100vh;
  overflow: hidden;
}

.intro-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('images/brain_3.png');/* https://www.artificialintelligence-news.com/news/research-ai-human-brains-subconscious/  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7); /* White overlay with 30% opacity */
  background-blend-mode: overlay; /* Blends background image with white */
  
  z-index: -1;
}

.intro, .photo {
  flex: 1;
  position: relative;
  z-index: 2;
}

.intro {
  padding-right: 20px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
  margin: 10px 0;
}

h2 {
  color: #4DB6B3;
}

.intro h1 {
  font-size: 24px;
  margin: 10px 0;
}

.intro h2 {
  font-size: 36px;
  margin: 5px 0;
  color: #4DB6B3;
}

.contact-info p {
  font-size: 14px;
  color: #555;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  color: #555;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #4DB6B3;
}

.about {
  background: #fff;
  padding: 50px 20px;
  text-align: center;
}

.about .skills span {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  color: #4DB6B3;
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #4DB6B3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #4DB6B3;
}

.publications {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.publications h3 {
  text-align: center;
  color: #4DB6B3;
  margin-bottom: 30px;
}

.publication-list {
  list-style-type: none;
  padding: 0;
}

.publication-list li {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.publication-list h4 {
  color: #333;
  margin-top: 0;
}

.publication-list p {
  color: #666;
  margin: 5px 0;
}

.btn-small {
  font-size: 14px;
  padding: 5px 10px;
}


